<div style="background-image: url('../../../assets/images/bglogin.jpg'); height: 100vh;" >
    <div class="contentlog">
            <form action="">
                <p>Email</p>
                <input type="text" placeholder="Enter your full name"  name="fullname" [(ngModel)]="email">
                <p>User Name</p>
                <input type="text" placeholder="Enter User Name" name="username" [(ngModel)]="username" >

                    <button class="submit" (click)="sendlink();" > Send</button>
                    <button style="margin-top:20px;" class="submit" routerLink="/login" > Login</button>
                <p style="text-align: center;">{{msg}}</p>
            </form>
    </div>
</div>



